<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/myDb" auth="Container"
              type="javax.sql.DataSource" driverClassName="org.h2.Driver"
              url="jdbc:h2:target/data;MODE=PostgreSQL;DB_CLOSE_DELAY=-1"
              username="sa" password="sa" maxActive="10" maxIdle="2"
            />
    <ResourceLink global="jdbc/myDb" name="jdbc/myDb" type="javax.sql.DataSource" />
</Context>